# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
build-react-app.sh
deploy-react-app.sh
deploy-empty.sh
start-local.sh

# misc
.DS_Store
.env
npm-debug.log
settings.json
