#!/bin/bash

export REACT_APP_CLIENT_ID=<the client ID for the API from the wicked portal>

export REACT_APP_AUTH_SERVER_SOCIAL=https://api.yourcompany.com/auth-passport
export REACT_APP_AUTH_SERVER_GITHUB=true
#export REACT_APP_AUTH_SERVER_GOOGLE=true

#export REACT_APP_AUTH_SERVER_SAML=https://api.yourcompany.com/auth-saml

npm run build
